<!doctype html>
<html>
<head>
  <title>Welcome to  MASICKDANG</title>
</head>
<body>
  <header><img src="/img/search.jpg" alt="Masickdang Logo" class="thumbnail" id="about" onclick = "imageClick('../about')" ></header>
  {{{body}}}

</body>
<script>
  function imageClick(url){
    window.location = url;
  }
</script>
</html>
