<div align="center">
  <header>
    <img src="/img/logo.png" style="max-width: 70%; height: auto;" alt="Masickdang Logo" class="thumbnail" id="fortune" onclick = "imageClick('../fortune')" >
  </header>
  <h1>
    Welcome to MASICKDANG !
  </h1>
  <p>
    <h2>
      오늘의 운세  :  {{fortune}} 
    </h2>
  </p>
</div>
